In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn
seaborn.set()

In [2]:
data = pd.read_csv('PAAndRAvsIndemnity.csv')

In [3]:
data

,PolicyInsuredPropertyAge,PolicyInsuredPropertyRoofAge,Avg. Corrected Incurred Indemnity
0,1,1,52000.000000
1,2,2,9013.310714
2,3,3,4549.639412
3,3,1,5000.000000
4,4,4,4861.597273
5,5,5,3841.436000
6,6,6,2079.211111
7,7,7,11554.603333
8,8,8,1883.333333
9,9,9,10501.696923
10,10,10,11355.935000
11,10,1,22277.580000
12,11,11,9156.353750
13,12,12,4649.347037
14,12,11,65830.866667
15,12,7,0.000000
16,12,5,0.000000
17,12,3,64560.640000
18,12,1,26738.070000
19,13,13,16300.586579
20,13,12,22649.560000
21,13,7,97789.660000
22,13,6,0.000000
23,13,3,10000.000000
24,13,1,1483.455000
25,14,14,14016.091912
26,14,13,15710.836667
27,14,10,1368.050000
28,14,7,25000.000000
29,14,4,0.000000
...,...,...,...
1028,71,11,6064.420000
1029,71,8,17148.140000
1030,72,26,0.000000
1031,72,22,6645.490000
1032,72,19,7029.490000
1033,72,17,477.585000
1034,72,16,3199.710000
1035,72,15,74000.000000
1036,72,14,7297.570000
1037,72,13,3427.270000
1038,72,12,10000.000000
1039,72,10,13799.940000
1040,72,9,5505.073333
1041,72,8,1790.070000
1042,72,6,4911.385000
1043,72,5,2510.770000
1044,73,24,28297.320000
1045,73,22,0.000000
1046,73,17,0.000000
1047,73,16,1085.030000
1048,73,14,878.120000
1049,73,7,16197.680000
1050,73,4,5172.000000
1051,74,21,30734.640000
1052,74,19,12395.620000
1053,74,18,4224.410000
1054,74,11,3250.700000
1055,74,9,960.070000
1056,74,4,6011.030000
1057,75,14,7436.820000

In [4]:
data.describe()

,PolicyInsuredPropertyAge,PolicyInsuredPropertyRoofAge,Avg. Corrected Incurred Indemnity
count,1058.000000,1058.000000,1058.000000
mean,43.610586,12.718336,16365.989369
std,16.553333,7.588772,35303.124310
min,1.000000,0.000000,0.000000
25%,31.000000,7.000000,1615.401250
50%,44.000000,12.000000,7244.546667
75%,58.000000,18.000000,17558.325000
max,75.000000,45.000000,807221.405000

In [5]:
# Following the regression equation, our dependent variable (y) is the GPA
y = data ['Avg. Corrected Incurred Indemnity']
# Similarly, our independent variable (x) is the SAT score
x1 = data [['PolicyInsuredPropertyAge','PolicyInsuredPropertyRoofAge']]

In [6]:
# Add a constant. Esentially, we are adding a new column (equal in lenght to x), which consists only of 1s
x = sm.add_constant(x1)
# Fit the model, according to the OLS (ordinary least squares) method with a dependent variable y and an idependent x
results = sm.OLS(y,x).fit()

In [7]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                    OLS Regression Results
=============================================================================================
Dep. Variable:     Avg. Corrected Incurred Indemnity   R-squared:                       0.018
Model:                                           OLS   Adj. R-squared:                  0.016
Method:                                Least Squares   F-statistic:                     9.655
Date:                               Thu, 14 Mar 2019   Prob (F-statistic):           6.99e-05
Time:                                       21:11:35   Log-Likelihood:                -12570.
No. Observations:                               1058   AIC:                         2.515e+04
Df Residuals:                                   1055   BIC:                         2.516e+04
Df Model:                                          2
Covariance Type:                           nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                         2.489e+04   3296.418      7.550      0.000    1.84e+04    3.14e+04
PolicyInsuredPropertyAge      -279.8703     66.289     -4.222      0.000    -409.943    -149.797
PolicyInsuredPropertyRoofAge   289.6550    144.596      2.003      0.045       5.927     573.383
==============================================================================
Omnibus:                     1899.000   Durbin-Watson:                   2.050
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2576837.259
Skew:                          12.024   Prob(JB):                         0.00
Kurtosis:                     243.573   Cond. No.                         148.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""